.navbar {
  @apply bg-slate-700 font-bold text-3xl flex flex-col items-center justify-center m-0 p-0;
  width: 100%;
  .headerText {
    @apply text-white;
  }
  .subText {
    font-size: 1.5rem;
  }
}

.linkText {
  @apply text-white;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: red !important;
    text-decoration: none;
  }
}
